.revolt-switcher-buttons-pad {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  left: 80px;
  bottom: 0;
  width: 120px;
  height: 88px;
  display: flex;
}

.revolt-switcher-buttons-wrapper {
  display: flex;
  justify-content: space-between;
}

.revolt-switcher-button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid #42567a80;
  cursor: pointer;
  transition: all 0.3s ease-out;

  &:hover {
    background-color: #42567a33;
  }

  &:disabled {
    color: #42567a;
    cursor: not-allowed;
    opacity: 0.5;
  }
}

.revolt-switcher-counter {
  font-size: 14px;
  font-weight: normal;
  color: #42567a;
}
