.label-wrapper {
  position: absolute;
  top: 170px;
  left: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  height: 134px;
  background-color: transparent;

  .label-left-border {
    width: 4px;
    height: 120px;
    margin-right: 78px;
    background: var(--bglinear);
  }

  .label-text {
    width: 343px;
    height: 134px;
    font-size: 56px;
    font-weight: bold;
    color: var(--black-blue);
  }
}

@media (width <= 1000px) {
  .label-wrapper {
    top: 70px;
    align-items: start;

    .label-text {
      font-size: 26px;
    }

    .label-left-border {
      height: 36px;
    }
  }
}

@media (width <= 560px) {
  .label-wrapper {
    top: 60px;
    left: 20px;
    width: 130px;

    .label-text {
      font-size: 20px;
    }

    .label-left-border {
      display: none;
    }
  }
}
