@font-face {
  font-family: 'PT Sans';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/pt-sans/PT_Sans-Web-Regular.ttf') format('truetype');
  display: swap;
}

@font-face {
  font-family: 'PT Sans';
  font-style: bold;
  font-weight: 700;
  src: url('../public/fonts/pt-sans/PT_Sans-Web-Bold.ttf') format('truetype');
  display: swap;
}

@font-face {
  font-family: 'Bebas Neue';
  font-style: normal;
  font-weight: 400;
  src: url('../public/fonts/bebas-neue/BebasNeue-Regular.ttf')
    format('truetype');
  display: swap;
}
