@import "https://fonts.googleapis.com/css?family=PT%20Sans%3A400i%2C700%2C700i%27";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'PT Sans', sans-serif;
}

ul,
li,
dl {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h2 {
  font-size: 21px;
}

h3 {
  font-size: 18px;
}
