.revolt-switcher-wrapper {
  position: absolute;
  top: 175px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 620px;
  overflow: hidden;
}

.revolt-switcher {
  position: relative;
  z-index: 300;
  width: 530px;
  height: 530px;
  border: 1px solid #40404033;
  border-radius: 50%;
}

.revolt-switcher-item {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 20;
  font-weight: normal;
  color: #42567a;
  background-color: tansparent;
  border: none;
  border-radius: 50%;
}

.revolt-switcher-item-text {
  position: absolute;
  top: calc(50% - 12px);
  left: 75px;
  width: 56px;
  height: 56px;
  font-size: 20px;
  font-weight: bold;
  color: #42567a;
}

.revolt-switcher-item-dot {
  display: flex;
  width: 6px;
  height: 6px;
  color: transparent;
  background-color: #42567a;
  border-radius: 50%;
}

.revolt-switcher-item-dot-not-active {
  display: flex;
  width: 6px;
  height: 6px;
  color: transparent;
  background-color: #42567a;
  border-radius: 50%;
  animation-name: transition-out;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

.revolt-switcher-item-dot-active {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  font-size: 20;
  font-weight: normal;
  color: #42567a;
  background-color: #ffffff;
  border: 1px solid #303e5880;
  border-radius: 50%;
  animation-name: transition-in;
  animation-duration: 0.2s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
}

@media (hover: hover) {
  .revolt-switcher-item:hover {
    .revolt-switcher-item-dot {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 56px;
      height: 56px;
      font-size: 20;
      font-weight: normal;
      color: #42567a;
      background-color: #ffffff;
      border: 1px solid #303e5880;
      border-radius: 50%;
      transition: all 0.3s ease-in-out;
    }
  }

  .revolt-switcher-item:not(:hover) {
    .revolt-switcher-item-dot {
      display: flex;
      width: 6px;
      height: 6px;
      color: transparent;
      background-color: #42567a;
      border-radius: 50%;
      transition-duration: 0.2s, 0.2s, 0.2s;
      transition-property: width, height, background-color;
    }
  }
}

@media (width <= 560px) {
  .revolt-switcher-wrapper {
    height: 400px;
  }

  .revolt-switcher {
    display: none;
  }
}

@keyframes transition-in {
  from {
    width: 6px;
    height: 6px;
    background-color: #42567a;
  }

  to {
    width: 56px;
    height: 56px;
    background-color: #ffffff;
  }
}

@keyframes transition-out {
  from {
    width: 56px;
    height: 56px;
  }

  to {
    width: 6px;
    height: 6px;
  }
}
