.display-wrapper {
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  height: 135px;
  font-size: 200px;
  font-weight: bold;
  background-color: transparent;

  .start-year {
    color: #5d5fef;
  }

  .end-year {
    color: #ef5da8;
  }
}

@media (width <= 1000px) {
  .display-wrapper {
    font-size: 130px;
  }
}

@media (width <= 730px) {
  .display-wrapper {
    font-size: 100px;
  }
}

@media (width <= 590px) {
  .display-wrapper {
    gap: 60px;
  }
}

@media (width <= 560px) {
  .display-wrapper {
    top: 0;
    gap: 40px;
    align-items: start;
    font-size: 56px;
  }
}
