.display-wrapper {
  position: absolute;
  z-index: 100;
  display: flex;
  gap: 100px;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 1440px;
  height: 135px;
  font-size: 200px;
  font-weight: bold;
  background-color: transparent;

  .start-year {
    color: #5d5fef;
  }

  .end-year {
    color: #ef5da8;
  }
}
