.slider-wrapper {
  position: absolute;
  bottom: 104px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  height: 135px;
  max-width: 1440px;
  width: 100%;
  z-index: 100;
}
