.slider-wrapper {
  position: absolute;
  bottom: 104px;
  left: 80px;
  z-index: 100;
  width: 100%;
  max-width: calc(100% - 80px);
  height: 135px;
  background-color: transparent;
  animation: historical-date-slider-in 0.3s ease;
}

.slider-wrapper-not-active {
  opacity: 0;
  animation: historical-date-slider-out 0.3s ease;
}

.slide-title {
  font-family: 'Bebas Neue', sans-serif;
  font-size: 25px;
  font-weight: 400;
  color: var(--blue);
}

.slide-content {
  width: 400px;
  margin-top: 15px;
  font-size: 18px;
  line-height: 1.5;
  color: var(--black-blue);
  text-wrap: pretty;
}

.swiper-button-prev,
.swiper-button-next {
  width: 40px;
  height: 40px;
  background: var(--white);
  border-radius: 50%;
  box-shadow: var(--box-shadow-10);
}

@media (hover: hover) {
  .swiper-button-prev:hover,
  .swiper-button-next:hover {
    box-shadow: var(--box-shadow-20);
  }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
  display: none;
}

.swiper-button-prev::after,
.swiper-button-next::after {
  font-size: 10px;
  font-weight: bold;
  color: var(--black-blue);
}

.swiper-pagination-bullet {
  width: 6px;
  height: 6px;
  background: var(--black-blue);
}

@media (width <= 1220px) {
  .slide-content {
    width: 350px;
  }
}

@media (width <= 1190px) {
  .slide-content {
    font-size: 15px;
  }
}

@media (width <= 1100px) {
  .slider-wrapper {
    left: 20px;
    max-width: calc(100% - 40px);
  }

  .slide-content {
    width: 300px;
  }
}

@media (width <= 920px) {
  .swiper-wrapper {
    height: 245px;
  }
}

@media (width <= 880px) {
  .slide-content {
    width: 350px;
  }
}

@media (width <= 840px) {
  .slide-content {
    width: 250px;
  }
}

@media (width <= 610px) {
  .slide-content {
    width: 100%;
    font-size: 14px;
  }
}

@media (width <= 560px) {
  .slider-wrapper {
    top: 315px;
  }

  .slide-title {
    font-size: 16px;
  }

  .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet,
  .swiper-pagination-horizontal.swiper-pagination-bullets
    .swiper-pagination-bullet {
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 5px);
  }

  .swiper-slide {
    opacity: 0.4;
    transition: opacity 0.3s ease-out;
  }

  .swiper-slide-active {
    opacity: 1;
    transition: opacity 0.3s ease-out;
  }
}

@keyframes historical-date-slider-in {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes historical-date-slider-out {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}
